.footer {
    background-color: #21252930;
    backdrop-filter: blur(6px);
}

/******************************************************************************/
/****************************** Responsive Design *****************************/
/******************************************************************************/

/****************************** format tablette *****************************/
@media (max-width: 1024px){
    .footer {
        padding: 0 0.75rem;
    }

    .footer p {
        font-size: 0.75rem;
    }
}

/****************************** format mobile *****************************/
@media (max-width: 768px){
    .footer {
        display: none;
    }
    
}