.footer-nav-mobile {
    display: none;
}

/******************************************************************************/
/****************************** Responsive Design *****************************/
/******************************************************************************/

/****************************** format mobile *****************************/
@media (max-width: 768px) {

    .footer-nav-mobile {
        display: block;
        background-color: var(--dark-color);
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    .footer-nav-mobile ul {
        margin: 0;
        padding: 0;
    }

    .footer-nav-mobile li {
        list-style: none;
    }

    .footer-nav-mobile a {
        font-family: "poppins-medium";
        font-size: 0.85rem;
        color: var(--light-color);
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

}