/******************************************************************************/
/****************************** Responsive Design *****************************/
/******************************************************************************/


/****************************** format mobile *****************************/
@media (max-width: 768px) {
        .header {
        margin: 0;
    }

    .header img {
        height: 3rem;
        width: 3rem;
        margin: 0.5rem;
    }
}