.about-title {
    font-family: "poppins-medium";
    color: #F5F6F6;
    font-size: 5rem;
}

/******************************************************************************/
/****************************** Responsive Design *****************************/
/******************************************************************************/

/****************************** format tablette *****************************/
@media (max-width: 1024px) {
    .about-content {
        gap: 2.5rem;
    }

    .about-paragraphs {
        font-size: 0.95rem;
        width: 100%;
    }

    .about-subtitle {
        font-size: 1.25rem;
    }

    .about-image {
        max-width: 520px;
    }

}

/****************************** format mobile *****************************/
@media (max-width: 768px) {
    .about-container {
        justify-content: flex-start;
    }

    .about-content {
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;
    }

    .about-title {
        align-self: center;
        text-align: center;
        font-size: 2rem;
    }

    .about-image {
        width: 70%;
        max-width: none;
    }

    .about-text {
        align-items: center;
        text-align: center;
    }

    .about-paragraphs {
        width: 100%;
        font-size: 0.95rem;
    }

    .about-subtitle {
        font-size: 1.25rem;
    }

    .about-cta {
        flex-direction: column;
        margin-top: 0;
        gap: 1rem;
    }
}