/******************************************************************************/
/****************************** Responsive Design *****************************/
/******************************************************************************/

/****************************** format tablette *****************************/
@media (max-width: 1024px) {
    .contact-content {
        gap: 2.5rem;
    }

    .contact-text {
        width: 100%;
        font-size: 1rem;
    }

    .contact-form-wrapper {
        max-width: 520px;
        aspect-ratio: auto;
    }
}

/****************************** format mobile *****************************/
@media (max-width: 768px) {

    .section-contact{
        margin-top: 4rem;
    }

    .contact-container {
        justify-content: flex-start;
    }

    .contact-content {
        flex-direction: column;
        gap: 2.5rem;
        align-items: center;
    }

    .contact-infos {
        align-items: center;
        text-align: center;
    }

    .contact-text {
        width: 100%;
        font-size: 0.95rem;
    }

    .contact-phone,
    .contact-mail {
        flex-direction: column;
        gap: 0.5rem;
    }

    .contact-phone span,
    .contact-mail span {
        font-size: 1.1rem;
    }
}