@import "./styles/base/reset.css";
@import "./styles/base/global.css";
@import "./styles/base/fonts.css";

@import "./styles/layout/header.css";
@import "./styles/layout/overlay.css";
@import "./styles/layout/footer.css";

@import "./styles/components/buttons.css";
@import "./styles/components/cards-projects.css";
@import "./styles/components/cards-skills.css";
@import "./styles/components/contact-form.css";
@import "./styles/components/modal.css";

@import "./styles/sections/about.css";
@import "./styles/sections/contact.css";
@import "./styles/sections/home.css";
@import "./styles/sections/project.css";
@import "./styles/sections/skills.css";
