* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/******************************************************************************/
/****************************** Responsive Design *****************************/
/******************************************************************************/

/****************************** format tablette *****************************/
@media (max-width: 1024px){


}

/****************************** format mobile *****************************/
@media (max-width: 768px){
    body {
        overflow-y: auto;
    } 
}